<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
</head>
<body>
    <h2>Register Player</h2>
    <form action="/admin/reg/player" method="post">
        <input type="hidden" name="adminId" th:value="${simpleResponseDTO.getUserId()}">
        <label>Player Name:
            <input type="text" name="userName" />
        </label>
        <br>
        <br>
        <input type="submit" value="Register">
    </form>
    
    <h2>Add new place</h2>
    	<form action="/admin/reg/place" method="post">
    		<input type="hidden" name="adminId" th:value="${simpleResponseDTO.getUserId()}"/>
    		<label>Place Name:
    			<input type="text" name="name"/>
    		</label>
    		<label>Address:
    			<input type="text" name="address"/>
    		</label>
    		<label>
    			<input type="number" name="rentalFee"/>
    		</label>
    		<br>
    		<br>
    		<input type="submit" value="Add new place"/>
    	</form>
    	
		<h2>Register Game</h2>
		<form action="/admin/reg/game" method="post">

		    <input type="hidden" name="adminId" th:value="${simpleResponseDTO.getUserId()}">

		    <label>Player 1 ID:
		        <input type="number" name="user1Id"/>
		    </label>

		    <label>Player 1 Score:
		        <input type="number" name="user1Score"/>
		    </label>

		    <br>
		    <br>

		    <label>Player 2 ID:
		        <input type="number" name="user2Id"/>
		    </label>

		    <label>Player 2 Score:
		        <input type="number" name="user2Score"/>
		    </label>

		    <br>
		    <br>

		    <label>Place ID:
		        <input type="number" name="placeId"/>
		    </label>

		    <label>Date:
		        <input type="date" name="date"/>
		    </label>

		    <br>
		    <br>

		    <input type="submit" value="Register Game"/>

		</form>
</body>
</html>