<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
</head>
<body>
    <h2>Register Player</h2>
    <form action="/admin/reg/player" method="post">
        <input type="hidden" name="adminId" th:value="${simpleResponseDTO.getResponse()}">
        <label>Player Name:
            <input type="text" name="userName" />
        </label>
        <br>
        <br>
        <input type="submit" value="Register">
    </form>
    
    <h2>Add new place</h2>
    	<form action="/admin/reg/place" method="post">
    		<input type="hidden" name="adminId" th:value="${simpleResponseDTO.getResponse()}"/>
    		<label>Place Name:
    			<input type="text" name="name"/>
    		</label>
    		<label>Address:
    			<input type="text" name="address"/>
    		</label>
    		<label>
    			<input type="number" name="rentalFee"/>
    		</label>
    		<br>
    		<br>
    		<input type="submit" value="Add new place"/>
    	</form>
</body>
</html>